* {
    box-sizing: border-box;
}

body {
    padding-top: 40px;
}


.box {
    width: 30%;
    float:left;
    vertical-align: top;
    margin-left: 23px;
    position:relative;
}

.bb1 {
    border: 1px solid lightgrey;
    height: 500px;
}

.circle {
    border: 1px solid lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    line-height: 20px;
}

.dot {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: lightgrey;
    margin-top: 8px;
    margin-left: 8px;
    
}

.circle_inside {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 100px;
    border-color: lightgrey;
}

.bb1 h4 {
    color: #24ba9f;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

p.price {
    color: grey;
    display:inline;
    vertical-align: middle;
    text-align: center;
}

p.small {
    
}

p.big {
    font-size:33px;
}

.mett li {
    list-style: none;
    text-align: center;
    color: grey;
    font-size: 16px;
    line-height: 46px;
    width: 100%;
    display: block;
}


li:first-child {
    background-color: rgba(220, 220, 220, 1);
}

li:last-child {
    background-color: rgba(220, 220, 220, .5);
}

.bb1 button {
    height: 35px;
    width: 120px;
    margin-left: 25px;
    background-color: #24ba9f;
    border-radius: 10px;
    
}

.bb1 a {
    color: white;
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
